.movie {
  width: 454px;
  min-height: 100%;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin: 1rem 1rem;
}
.poster {
  width: 183px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 50px;
}
.info {
  padding: 12px 9px 12px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h5 {
  width: 86%;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  flex: 0 0 auto;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 412px;
  top: 10px;
}
.ratingNumber {
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.cirrcleColor1 {
  border: 2px solid #e90000;
}
.cirrcleColor2 {
  border: 2px solid #e97e00;
}
.cirrcleColor3 {
  border: 2px solid #e9d100;
}
.cirrcleColor4 {
  border: 2px solid #66e900;
}
.releaseData {
  font-size: 12;
  color: #827e7e;
  margin-bottom: 5px;
}

.genre {
  display: inline-block;
  height: 20px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: 12px;
  color: rgba(0, 0, 0, 0.65);
  padding: 1px 3px 2px 5px;
  font-size: 12px;
  line-height: 15px;
  margin-right: 3px;
}
.describe {
  width: 228px;
  height: auto;
  font-size: 12px;
  line-height: 20px;
  padding-right: 20px;
  margin-top: 10px;
  flex: 1 0 auto;
}
.ant-rate {
  justify-content: flex-end;
  flex: 0 0 auto;
}
.ant-rate-star {
  width: 16px;
}
