* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #E5E5E5;
  width: 1010px;
  height: 1147px;
  margin: 0 auto;
  overflow-wrap: break-word; 
  word-wrap: normal;
  word-break: normal
}
