* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #e5e5e5;
  width: 1010px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 420px) and (max-width: 479px) {
  body {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    flex-direction: column;
    padding-left: 0rem;
    flex-wrap: wrap;
  }
  .search-input {
    width: 92.3%;
    margin: 0px 1rem;
  }
  .movie-list {
    display: flex;
    flex-direction: column;
  }
  .movies {
    min-height: auto;
    margin: 10px 16px 20px 16px;
  }
  .movie {
    width: 100%;
  }
  .poster {
    width: 60px;
    height: 91px;
    margin: 6px 13px 10px 10px;
    display: block;
  }
  h5 {
    padding-top: 4px;
  }
  .rating {
    left: 91%;
    top: 5px;
  }
  .info {
    padding: 0;
  }

  .describe {
    display: block;
    width: 120%;
    height: 21.9%;
    padding: 0px 10px 10px 0px;
    margin-left: -75px;
    margin-top: 20px;
  }
  .genre {
    margin-right: 8px;
  }
  .ant-rate {
    margin-left: 60px;
    margin-bottom: 10px;
  }
  .error {
    width: 90%;
    height: 50px;
    margin: 25px auto;
  }
  .ratedError {
    width: 90%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    flex-direction: column;
    padding-left: 0.5rem;
  }
  .search-input {
    width: 92.4%;
  }
  .movie {
    width: 98%;
  }
  .poster {
    width: 38.1%;
    min-height: 37%;
  }
  .rating {
    left: 91%;
    top: 5px;
  }
  .genre {
    margin-right: 8px;
  }
  .info {
    width: 66%;
  }
  .describe {
    width: 88%;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  body {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    padding-left: 0;
  }
  .movies {
    width: 45.5%;
  }
  .search-input {
    width: 95.1%;
  }
  h5 {
    padding-top: 4px;
  }
  .poster {
    max-width: 20%;
    height: 30%;
    margin: 6px 13px 20px 10px;
  }
  .rating {
    left: 90%;
    top: 5px;
  }
  .info {
    padding: 0;
  }
  .describe {
    display: inline-block;
    margin: 0;
    margin-left: -4.2rem;
    width: 110%;
    height: auto;
    padding: 10px 10px 10px 0px;
  }
  .genre {
    margin-right: 8px;
  }
  .ant-rate {
    margin-left: 2%;
    margin-bottom: 5px;
  }
  .tabs {
    width: 100%;
  }
}
