.wrapper {
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  position: relative;
}

header {
  width: 100%;
}
.tabs {
  width: 100%;
}
.search-input {
  width: 94.8%;
  height: 40px;
  margin: 1rem;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
footer {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.loading {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 100;
}
.pagination {
  width: auto;
}
.error {
  width: 45%;
  height: 50px;
  margin: 0 auto;
}
.ratedError {
  width: 420px;
  line-height: 24px;
  height: auto;
  margin: 0 auto;
}
