.wrapper {
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  position: relative;
}

header {
  width: 100%;
}
.tabs {
  width: 100%;
}
.search-input {
  width: 94.8%;
  height: 40px;
  margin: 1rem;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
.movies {
  margin: 1rem 1rem;
  display: flex;
}
footer {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  list-style: none;
}
.loading {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 100;
}
.pagination {
  width: auto;
}
.error {
  width: 41%;
  height: 50px;
  margin: 0 auto;
}
.ratedError {
  width: 41%;
  height: auto;
  margin: 1rem auto;
}
